body {
  padding-top: 56px;
}

.pointer{
	cursor: pointer;
}

.pd-15{
	padding: 15px!important;
}

.center{
	display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.card-profile{
-webkit-box-shadow: 0px 3px 10px 0px rgba(178,188,255,1);
-moz-box-shadow: 0px 3px 10px 0px rgba(178,188,255,1);
box-shadow: 0px 3px 10px 0px rgba(178,188,255,1);
width: 500px;
height: auto;
display: block;
margin-right: auto;
margin-left: auto;
margin-top: 30px;
padding: 20px;
border-radius: 15px;
}

.card-rule{
	-webkit-box-shadow: 0px 3px 25px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 25px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 25px -15px rgba(0,0,0,0.75);
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 20px
}

.card-banner{
	-webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,1);
box-shadow: 0px 3px 13px -1px rgba(0,0,0,1);
	width: 100%;
	height: auto;
	border-radius: 20px
}

.card-belanja{
	-webkit-box-shadow: 0px 3px 25px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 25px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 25px -15px rgba(0,0,0,0.75);
width: 100%;
	height: auto;
	border-radius: 10px;
	padding: 40px;
}

.border-belanja{

border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 1px solid #b5b5b5;
padding: 20px;
}